*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;    
}
/* */
.colunae{
    width: 515.5px; 
    height: 170em; 
    float: left; 
    background-color: #95AB7C;
}
.colunad{
    width: 515.5px;
    height: 170em;
    float: right;
    background-color: #95AB7C;
}

header{
    background-color: #FFFFFF;
    width: 320px;
    height: 50px;
    margin-left: 515.5px;
    position: sticky;
    top: 0px;
    display: flex;
    border-bottom: 1px solid #314C1D;
}
header img{
    width: 38px;
    margin: 5px;
}
nav{
    font-family: 'Inknut Antiqua';
    font-size: 7px;
    display: flex;
    align-items: center;
}
nav ul{
    display: flex;
}
nav a{
    color: #314C1D;
}
nav li{
    margin-right: 5px;
}

section.banner{
    margin-left: 515.5px;
    width: 320px;
}
.banner{
    background-image: url(imagens/banner-cpsi.png);
    background-repeat: no-repeat;
}
.banner article{
    text-align: center;
    color: #314C1D;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner h1{
    font-size: 22px;
    margin-top: 30px;
}
.banner p{
    font-size: 10px;
    margin-bottom: 4px;
}
.banner a{
    font-size: 6px;
    color: #FFFFFF; 
}
.saibamais{
    background-color: #314C1D;
    padding: 4px;
    border-radius: 3px;
    width: 56px;
    margin-bottom: 25px;
}

section.projeto{
    width: 320px;
    margin-left: 515.5px;
    background-color: #314C1D;
    color: #FFFFFF;
    /*padding: 10px; tirar padding e usar margin nos itens!!!*/
}
.projeto h2{
    text-align: center;
    font-size: 10px;
    padding: 10px 0 5px;
}
.projeto p{
    /*margin-left: 25px;*/
    padding: 0  0 15px 25px;
    font-size: 8px;
}

section.modalidades{
    margin-left: 515.5px;
    width: 320px;
}
.modalidades h2{
    text-align: center;
    font-size: 10px;
    margin: 5px 0;
}
.modalidades h3{
    font-size: 8px;
    margin: 7px;
}
.modalidades ul{
    display: flex;
    justify-content: space-evenly;
    margin: 0 1em;
}

section.horarios{
    margin-left: 515.5px;
    width: 320px;
}
.horarios{
    background-color: #314C1D;
    /*padding: 1em;*/
}
table{
    margin: auto;
    width: 310px;
}
caption, th, td:first-child{
    background-color: #B5CF92;
    /*padding: 1em;*/
}
caption{
    font-size: 9px;
    padding: 3px;
}
th, td{
    font-size: 7px;
}
td{
    background-color: #FFFFFF;
}

/*.inscricoes{
    text-align: center;
}
.inscricoes ul{
    display: flex;
    justify-content: space-evenly;
    /alinhar ao centro e personalizar botões/
}

.contato{
    text-align: center;
}
.contato div{
    display: flex;
    justify-content: center;
}

section h2{
    text-align: center;
}
.equipe{
    display: flex;
}
.equipe div{
    display: flex;
    align-items: center;
}
.equipe img{
    background-color: #314C1D;
    border-top-left-radius: 5em;
    border-bottom-left-radius: 5em;
}
.equipe ul{
    background-color: #314C1D;
    height: 150px;
    width: 200px;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}
.equipe li{
    color: #FFFFFF;
    align-content: center;
}

footer{
    background-color: #314C1D;
    color: #FFFFFF;
}*/